$main-color: #00a499;
$secondary-color: #ea7600;
$terciary-color: #00a499;
$text-color: #4d4d4d;
$border-color: #b6b6b6;
$body-width: 56rem; //56rem;
$pendiente: purple;
$asignado: aqua;
$reasignado: skyblue;
$finalizado: grey;
$aceptado: blue;
$rechazado: maroon;
$validado: navy;

$very-low: #57bb8a;
$low: #abc878;
$medium: #ffd666;
$high: #e68c46;
$very-high: #cc4125;

$font-usach: 'Bebas Neue', sans-serif;
$font-usach-secondary: 'Helvetica Neue LT', sans-serif;

@import "_loader.scss";
@import "_buttons.scss";
@import "loadingBtn.scss";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(https://fonts.cdnfonts.com/css/helvetica-neue-lt-pro-2);

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin cardStyle($backgroundColor) {
  background: $backgroundColor;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  box-sizing: inherit;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //text-align: center;
  //color: #2c3e50;
}

a {
  color: darken($secondary-color, 15%);
  text-decoration: none;
  //font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
a[disabled] {
  color: $text-color;
  opacity: 0.7;
}
html {
  //font-size: 125%;
  //font-family: Asap, sans-serif;
  font-size: 100%;
  font-family: Asap, sans-serif;
  line-height: 1.5;
  color: $text-color;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  //display: inline-block;
  //margin: 0 10px;
}
.mobile-only {
  display: none;
}

/* Layout principal*/
.wrapper {
  box-sizing: border-box;
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  color: $text_color;
  //background: rgba(255,0,0,0.1);
}

.wrapper > header {
  grid-area: header;
  text-align: center;
  background: $main-color;
  display: flex;
  align-content: center;
  padding: 0 10%;
}
.wrapper > main {
  grid-area: main;
  position: relative;
  margin: 0 5%;
  background: white;
  //width: 100%;
  //padding: 2% 0;
}
.wrapper > footer {
  grid-area: footer;
  background: $main-color;
  padding: 0.5rem;
  color: white;
  text-align: center;
}
.logo {
  cursor: pointer;
  flex: 1;
  font-weight: bold;
  color: white;
  img,
  svg {
    max-height: 2rem;
    fill: currentColor;
  }
  @include flexCenter();
  * + * {
    margin-left: 0.4rem;
  }
}

.topnav {
  flex: 2;
  ul {
    display: flex;
    flex-direction: row;
    transition: max-height 0.3s ease-in;
  }
  ul.user-menu {
    display: none;
  }
  a {
    padding: 1rem 0.5rem;
    display: block;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.678);
    &.router-link-exact-active {
      color: white;
    }
  }
  a:hover {
    text-decoration: none;
    background: white;
    color: $main-color;
  }
}
.menu-btn {
  display: none;
  text-align: left;
  padding: 0.4rem 0.4rem;
  color: white;
  align-items: center;
  .menu-icon {
    height: 1.2rem;
  }
  svg {
    fill: white !important;
  }
}
.usernav {
  position: relative;
  z-index: 10;
  color: #ffff;
  display: flex;
  align-items: center;

  ul {
    position: absolute;
    display: none;
    right: 0rem;
    top: 2rem;
    text-align: left;
    @include cardStyle(white);
    overflow: hidden;
  }
  li + li {
    border-top: solid 1px rgba(0, 0, 0, 0.1);
  }
  a {
    display: block;
    padding: 0.5rem 1rem;
    white-space: nowrap;
  }
  a:hover {
    text-decoration: none;
    background: $secondary-color;
  }
  button {
    display: flex;
    align-items: center;
    svg,
    img {
      max-height: 1rem;
    }
  }
}
.usernav[aria-expanded="true"] {
  ul {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
  .wrapper > header {
    flex-wrap: wrap;
    padding: 0;
  }
  .wrapper > main {
    margin: 0 2%;
  }
  .menu-btn {
    display: flex;
    cursor: pointer;
  }

  .topnav {
    width: 100%;
    position: relative;
    ul {
      max-height: 0;
      overflow: hidden;
      flex-direction: column;
      text-align: left;
      li {
        //width: 100vw;
      }
      li {
        border-top: solid 1px rgba(0, 0, 0, 0.1);
      }
    }
    ul.user-menu {
      display: block;
      background: darken($terciary-color, 10%);
    }
    a {
      width: 100vw;
    }
  }
  .topnav[aria-expanded="true"] {
    ul {
      max-height: 100rem;
    }
  }
  .usernav {
    background: darken($terciary-color, 7%);
  }
}
//@media screen and (min-width: $body-width * 1.2) {
//  .wrapper > main {
//    margin: 0 5%;
//  }
//}
input,
select,
textarea,
text {
  border: solid 1px $text_color;
  background-color: white;
  font-size: 0.9em;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 10px;
  color: $text_color;
  &:disabled {
    color: grey;
    background-color: #f5f5f5;
    border: solid 1px grey;
  }
}

input[type="radio"] {
  width: initial;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0;
  box-shadow: 0px 0px 0.5em $complementary;
}

input,
textarea {
  padding-left: 0.5em;
}

::placeholder {
  color: $text_color;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  align-content: start;
  //grid-template-areas: "container-header container-header-alt" "container-body container-side";
}
.container-body {
}
.container-body-right {
  //  grid-column: 2/4;
}
.container-body-left {
}
.container-side {
  padding: 0 1rem;
  background: rgba(0, 0, 0, 0.03);
}
.container-side-left {
  //grid-column: 1/2;
}
.container-side-left {
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  .container-body,
  .container-side {
    grid-column: 1 / 2;
  }
}

.svg-icon {
  max-width: 1.5rem;
  max-height: 1.5rem;
  fill: white !important;
}

.form {
  display: flex;
  flex-direction: column;
}
.login {
  @include flexCenter();
}
.login-form {
  width: 20rem;
  max-width: 100%;
  button {
    width: 100%;
  }
}
.paginate {
  ul {
    display: flex;
    width: 80%;
    justify-content: center;
    li {
      margin: 0.5rem;
    }
    li.active {
      border-bottom: solid 2px $secondary-color;
    }
  }
}
.item-list {
}
.item {
  padding: 1rem 0rem;
}
.item + .item {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}
.item-name {
  font-size: 1.2rem;
  font-weight: bold;
}
.item-description {
  opacity: 0.8;
}
.item-img {
  height: 3rem;
  width: 3rem;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  float: left;
  margin: 1rem;
}
@for $i from 1 to 10 {
  $hue: 15 * $i;
  .item:nth-child(#{$i}) {
    .item-img {
      //background:hsl($hue, 100%, 50%);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 0.5fr [main-start] 2fr [main-end];
  grid-template-rows: [main-start] 100px auto [main-end];
  grid-gap: 2em;
}
.main {
  grid-area: main;
  width: 100%;
}
.report-box {
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: 0.5px 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 10px;
}

.report-info {
  width: 90%;
  margin: auto;
}

.report-text {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.title-comentarios {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1em;
}

.doc-description {
  margin-left: 0.3em;
  display: inline-block;
  margin-top: 0.4em;
  .label {
    font-size: 0.8em;
    font-weight: bold;
  }
  font-size: 0.9em;
}

.doc-description-c {
  margin-left: 0.3em;
  display: flex;
  margin-top: 0.4em;
  .label {
    font-size: 0.9em;
    font-weight: bold;
  }
  font-size: 0.9em;
}

.line-up {
  border-top: 1px solid $text_color;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: [main-start] auto [main-end]0.5fr;
  grid-template-rows: [main-start] auto [main-end];
  grid-gap: 2em;
}
.report-entity {
  text-align: left;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;

  span {
    font-weight: lighter;
    // text-transform: lowercase;
    font-size: 16px;
    select {
      width: auto;
    }
    .icon:hover {
      color: green;
    }
  }
}
.radius {
  border-radius: 1rem;
}
.state-name {
  font-size: 0.8em !important;
}
.state-format {
  display: inline-block;
  // margin-top:10px;
  width: 15px;
  height: 15px;
  margin-bottom: -1px;
  border: 1px solid rgb(189, 189, 189);

  &.pendiente {
    background: $pendiente;
  }
  &.asignado {
    background: $asignado;
  }
  &.finalizado {
    background: $finalizado;
  }
  &.aceptado {
    background: $aceptado;
  }
  &.rechazado {
    background: $rechazado;
  }
  &.validado {
    background: $validado;
  }
  &.very-low {
    background: $very-low;
  }
  &.medium {
    background: $medium;
  }
  &.high {
    background: $high;
  }
  &.very-high {
    background: $very-high;
  }
  &.low {
    background: $low;
  }
}

.grid-flex {
  // margin: 0px 10%;
  display: flex;
  align-items: flex-start;
  &.map {
    flex-direction: column;
  }
  .filter-wrapper {
    margin-right: 1rem;
    width: 45%;
    white-space: nowrap;
    .categories-filter {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      white-space: normal;
      width: 100%;
      margin-bottom: 1rem;
      .category {
        input {
          width: 5%;
        }

        label {
          display: flex;

          span {
            width: 70%;
       
          }
          img {
            height: 2em;
          }
        }
      }
    }

    .btn:first-child {
      margin-right: 0.5rem;
    }
  }
  .legend-title {
    width: 100%;
    height: 3em;

    text-align: center;
  }
}

.filters-sections {
  
  padding: 0.5rem;
  label {
    font-weight: 700;
    margin-top: 0.6em;
    font-size: 0.8em;
    opacity: 0.8;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  .filters-answers {
    white-space: normal;
  }
}

.large-top {
  border-bottom: 1px solid $text_color;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  text-align: right;
}
.title-date {
  font-weight: bold;
  font-size: 1.17em;
  text-transform: capitalize;
}
.title-date-h {
  text-align: right;
}

.categories-container {
  padding-bottom: 0.5rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .category {
    padding: 0.3em 0.4em;
    //border: 1px solid $main_color;
    color: white;

    background: $main-color;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
    // color: $main_color;
    font-size: 0.7em;
    border-radius: 1rem;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  button {
    padding: 0.2em 0.5em;
  }
}
.vdp-datepicker {
  white-space: normal;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  width: 100% !important;
  justify-content: space-around;
  align-items: center;
}
.row-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100% !important;
  margin-bottom: 0.3em;
  justify-content: space-between;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0.5rem;
  input,
  select {
    &[type="radio"]:checked,
    &[type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }
    &[type="radio"]:checked + label,
    &[type="radio"]:not(:checked) + label {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
    }
    &[type="radio"]:checked + label:before,
    &[type="radio"]:not(:checked) + label:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff;
    }
    &[type="radio"]:checked + label:after,
    &[type="radio"]:not(:checked) + label:after {
      content: "";
      width: 12px;
      height: 12px;
      background: $main-color;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    &[type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    &[type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    border-radius: 7px;
    border: 2px solid $border-color;
    margin-top: 0.4rem;
    // width: 100%;
    height: 2rem;
    .text-select {
      color: $text-color;
    }
  }
}
.controls {
  button {
    margin: 0.5rem;
    margin-top: 2rem;
    touch-action: manipulation;
  }
  display: flex;
  flex-direction: row;
}

.action-container {
  padding: 1rem;
  max-height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 500px;
}

.error-container {
  padding: 0.5rem;
  max-height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 250px;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.answer {
  width: 100%;
  textarea:disabled{
    color: #4d4d4d;
  }
  input:disabled{
    color: #4d4d4d;
  }
}

// .image-container{
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   width: 100%;
// }

.image-container {
  // border-radius: .5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
  &:nth-child(1) {
    img {
      border-radius: 0.3rem 0rem 0rem 0rem;
    }
  }
  &:nth-child(2) {
    img {
      border-radius: 0rem 0.3rem 0rem 0rem;
    }
  }
  &:nth-child(3) {
    img {
      border-radius: 0rem 0rem 0rem 0.3rem;
    }
  }
  &:nth-child(4) {
    img {
      border-radius: 0rem 0rem 0.3rem 0rem;
    }
  }
  display: flex;
  img {
    cursor: pointer;
    min-width: 120px;
    height: 120px;
    object-fit: cover;
  }
  video {
    cursor: pointer;
    min-width: 120px;
    height: 120px;
    object-fit: cover;
  }
}

.mapa.main {
  .filters-sections {
    box-shadow: none;
    padding: 0rem;
  }
}

.mapa {
  // margin: auto;
  // margin-left: -5rem;
  width: 100%;
  // width: 100vw;
  // height: 100%;
  height: 550px;
  margin-bottom: 2rem;
  // flex: 1;
  // display: flex;
  // flex-direction: co;
  position: relative;
  h5,
  h4,
  h3,
  h2,
  h1 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
  .filter-wrapper {
    padding: 0.5rem;
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    overflow-y: scroll;
    max-height: 100%;
    z-index: 1000;
    background-color: white;
    border-radius: 0 0 0.4rem 0;

    .categories-filter {
      margin-bottom: 1rem;
    }
    .categories-filter {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      white-space: normal;
      width: 100%;
      margin-bottom: 1rem;
      .category {
        input {
          width: 5%;
        }

        label {
          display: flex;

          span {
            width: 100%;
  
          }
          img {
            height: 2em;
          }
        }
      }
    }

    .filters-sections {
      box-shadow: none;
      padding: 0.5rem;

      label {
        font-weight: 700;
        margin-top: 0.6em;
        font-size: 0.8em;
        opacity: 0.8;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
      }
      .filters-answers {
        white-space: normal;
      }
    }
  }
  .panel-map {
    position: absolute;
    padding: 0.5rem;
    border-radius: 0 0 0 0.4rem;
    overflow-y: scroll;
    max-height: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.24);
    max-width: 16rem;
    max-height: 5rem;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    -webkit-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    -moz-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    -o-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    &[selected] {
      max-height: 100%;
    }
    .panel-info .form-result {
      box-shadow: none;
      margin-bottom: 1rem;
    }
  }
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .leaflet-control-container > div {
    left: 28vw;
  }
}

.pending-cluster-custom div {
  color: white;
  background-color: rgba(lighten($pendiente, 20%), 0.9);
  border: 1px solid white;
}

.assigned-cluster-custom div {
  color: white;
  background-color: rgba(lighten($asignado, 20%), 0.9);
  border: 1px solid white;
}
.validated-cluster-custom div {
  color: white;
  background-color: rgba(lighten($validado, 20%), 0.9);
  border: 1px solid white;
}
.reassigned-cluster-custom div {
  color: white;
  background-color: rgba(lighten($reasignado, 20%), 0.9);
  border: 1px solid white;
}
.accepted-cluster-custom div {
  color: white;
  background-color: rgba(lighten($aceptado, 20%), 0.9);
  border: 1px solid white;
}

.rejected-cluster-custom div {
  color: white;
  background-color: $rechazado;
  border: 1px solid white;
}

.finished-cluster-custom div {
  color: white;
  background-color: rgba(lighten($finalizado, 20%), 0.9);
  border: 1px solid white;
}

.low-cluster-custom div {
  color: white;
  background-color: rgba(lighten($low, 20%), 0.9);
  border: 1px solid white;
}
.very-low-cluster-custom div {
  color: white;
  background-color: rgba(lighten($very-low, 20%), 0.9);
  border: 1px solid white;
}

.medium-cluster-custom div {
  color: white;
  background-color: rgba(lighten($medium, 20%), 0.9);
  border: 1px solid white;
}

.high-cluster-custom div {
  color: white;
  background-color: rgba(lighten($high, 20%), 0.9);
  border: 1px solid white;
}
.very-high-cluster-custom div {
  color: white;
  background-color: rgba(lighten($very-high, 20%), 0.9);
  border: 1px solid white;
}

.cluster-custom div {
  color: white;
  background-color: rgba(lighten(#4639b6, 20%), 0.9);
  border: 1px solid white;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;

  .chart {
    width: 50vh;
  }
}

.general-status {
  h1 {
    display: inline;
  }
  label {
    float: right;
  }
  .summary {
    display: flex;
    flex-direction: row;
    width: 100%;
    .chart {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .summary-table {
      flex: 2;
      table {
        border-collapse: collapse;

        td,
        th {
          padding: 0.5em 1em;
        }
        td {
          text-align: center;
          font-size: 1.3em;
        }
        tr:first-child {
          border-bottom: 1px solid currentColor;
          &:hover {
            background: initial;
          }
        }
        tr {
          transition: 200ms ease;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          & > th {
            //  word-wrap: break-word;
            //  white-space: nowrap;
          }
        }
        tr:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}

.pie-chart {
  transform: translate(0, -10%);
}

.list-table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: scroll;
}

.list-table td,
.list-table th {
  .btn {
    font-size: 1em;
  }
}

.list-table tr:nth-child(even) {
  background-color: #fafafa;
}

.list-table tr:hover {
  background-color: #f5f5f5;
}

.list-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  border-bottom: 1px solid $text_color;
}

.action-container-table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  .btn-ico {
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: $terciary-color;
    }

    img {
      width: 1.2rem;
    }
  }
}

.action-container-table-movil {
  display: flex;
  align-items: center;
  width: 30%;
  .btn-ico {
    border-radius: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: $terciary-color;
    }

    img {
      width: 1.2rem;
    }
  }
}
.section-block {
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.07);
}

.section-block-mobile {
  margin-top: 0.5rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.07);
}

.title-elements {
  .btn-new {
    //width: 25%;
  }
  .rol-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-bottom: 0px !important;
  }
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  //justify-content: space-between;
  justify-content: space-between;
  align-items: space-between;
}

.add-user {
  padding: 2rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 1rem;

  input,
  select,
  textarea,
  text {
    // border: solid 1px $text_color;
    // background-color: white;
    // font-size: 0.9em;
    // border-radius: 6px;
    width: 100%;
    margin-bottom: 10px;
    color: $text_color;
    &:disabled {
      color: grey;
      background-color: #f5f5f5;
      border: solid 1px grey;
    }
  }
  .btn-link {
    background: none;
    border: none;
    font-weight: bold;
    color: $main-color;
    margin: none;
    transition: 200ms ease;
    cursor: pointer;
  }

  input[type="radio"] {
    width: initial;
  }

  input:focus,
  select:focus,
  textarea:focus {
    outline: 0;
    box-shadow: 0px 0px 0.5em $secondary-color;
  }

  input,
  textarea {
    padding-left: 0.5em;
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  button {
    margin-left: 1em;
  }
}

.watermark {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: 100%;
  justify-content: space-around;
  img {
    max-height: 5rem;
    fill: currentColor;
  }
}
.btn-disabled {
  opacity: 0.5;
}

.excel {
  margin: 0.3rem;
  margin-top: 0.5rem;
}

.marker-img {
  background-image: url("../img/marker.svg");
  pointer-events: visiblePainted !important;
}

.main-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.mapa-mobile {
  width: 90vw;
  // width: 100vw;
  // height: 100%;
  height: 60vh;
  // flex: 1;
  // display: flex;
  // flex-direction: co;

  // .leaflet-control-container > div {
  //   left: 15.5rem;
  // }
}

.filter-wrapper-mobile {
  padding: 0.5rem;
  width: auto;
  overflow-y: scroll;
  max-height: 100%;
  width: 100%;
  z-index: 999999;
  background-color: white;
  border-radius: 0 0 0.4rem 0;
  .categories-filter {
    display: flex;
    flex-direction: column;
    white-space: normal;
    width: 100%;
    margin-bottom: 1rem;
    .category {
      input {
        width: 10%;
      }

      label {
        display: flex;

        span {
          width: 70%;
          padding-top: 0.3em;
        }
        img {
          height: 1em;
        }
      }
    }
  }
  // .categories-filter {
  //   width: 100%;

  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;

  //   .category {
  //     width: 90%;
  //     display: flex;
  //     flex-direction: row;
  //     input {
  //       width: auto;
  //       vertical-align: middle;
  //     }
  //     .label {
  //       vertical-align: middle;
  //     }
  //   }
  // }
  .filters-sections {
    width: 100%;
    box-shadow: none;
    padding: 0.5rem;

    label {
      font-weight: 700;
      margin-top: 0.6em;
      font-size: 0.8em;
      opacity: 0.8;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
    }
    .filters-answers {
      white-space: normal;
    }
  }
}

.options {
  margin-left: 0.2rem;
  span {
    width: 100%;
  }
}

.filter-button {
  margin: 0.2em;
  padding: 0.2em;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.filter-mobile {
  margin: 1rem;
  overflow-y: scroll;
  z-index: 99999999;
}

.charts-mobile {
  margin: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.status-icon {
  img {
    width: 3rem;
    animation: spin 2s linear infinite;
  }
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height:1.5rem;
  // margin:.2rem;
}
.status-icon-spin svg {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.report-mobile {
  width: none;
}
.legend-container{


 width: 100%;
 display: flex;
 flex-direction: column;

}
.legend-options {

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 1rem;
  .legend {
    flex-wrap: wrap;
    border: solid 1px $text_color;
    border-radius: 0.2rem;
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
}

.legend-container-mobile {
  width: 100%;

  flex-direction: row;
  display: flex;

  margin: 0.5rem 1rem;
  .legend {
    border: solid 1px $text_color;
    border-radius: 0.2rem;
    margin-left: 0.2em;
    margin-right: 0.2em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hidepass-ct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  span {
    font-size: 0.8em;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.margin-bottom {
  margin-bottom: 1rem;
}

.max-input-width {
  width: 50%;
  
}

.text-button{

  cursor: pointer;
  font-weight: bold;
  color: $secondary-color;

  &:focus {
    color: $secondary-color
  }
}

.custom-select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.custom-select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.line-vertical{
  height: 100%;
  border-left: 2px solid $secondary-color;
  padding-left: 2%;
}

input[type="checkbox"]:focus {
  box-shadow: none;
}

.offices {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.Office {
  display: flex;
  align-items: center;
}

.Office input {
  width: fit-content;
}
.officeName {
padding-left: 3%; /* Asegura que el ancho del span sea del 100% */
}


.questionName {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #333;
}

.questionName input {
  width: fit-content;
}

.form {
  align-items: center;
}

.vdp-datepicker input {
  /* Tus estilos aquí */
  padding: 5px;
}

.question {
  font-size: 1.3rem;
  p::not(.info) {
      font-weight: 600;
      margin-bottom: 1rem;
      margin-top: 2rem;
      font-size: large;
  }
  .options {
      position: relative;
      .overlay {
          top: 0;
          z-index: 1000;
          background: rgba($color: #000, $alpha: 0.7);
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          > div {
              display: flex;
              flex-direction: column;
              align-items: center;
          }
          span {
              color: white;
              font-weight: bolder;
              font-size: larger;
              margin-bottom: 1rem;
          }
          .btn {
              width: auto;
          }
      }
  }
}

.file-button {
  position: relative;
  overflow: hidden;
  display: block;
  // width: 100%;
  // height: 100%;
  color: $secondary-color;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $secondary-color;
  }

  input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}

.files-container {
  display: flex;
  flex-direction: column;
  .file {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    img {
      width: 1rem;
    }
    .file-name {
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
    border: 1px solid $secondary-color;
    margin: 1rem 1rem;
  }
}